<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votação</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="login-form">
        <h2 class="titulo">Login de Administrador</h2>
        <form id="login" action="{% url 'login_administrador' %}" method="post">
            <input type="hidden" value="{{ csrf_token }}">
            <input type="text" name="username" placeholder="Nome de usuário" required>
            <input type="password" name="password" placeholder="Senha" required>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>